/node_modules
/public/hot
/public/storage
/public/ec-game-api.blade.php
/storage/*.key
/vendor
.env
.env.backup
.phpunit.result.cache
Homestead.json
Homestead.yaml
npm-debug.log
yarn-error.log
/.idea
phpcs.xml
docker-compose.yml
/docker/http-nginx.conf
/docker/mysql-data
/docker/http-nginx-dev.conf
